<h1>Lesson</h1>

<h3> <%=@lesson.name%> </h3>
<h4> <%=@lesson.description%> </h4>


<h4><a href="/lessons/<%=@lesson.next%>">Next Lesson</a></h4>
<h4><a href="/lessons/<%=@lesson.previous%>">Previous Lesson</a></h4>

<p><a href="/chapters/<%=@chapter.id%>/sections/<%=@section.id%>">Return to Section Contents</a></p>
